SUPABASE_URL=https://pozpdssxiykixodupanu.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvenBkc3N4aXlraXhvZHVwYW51Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDgzOTk0MywiZXhwIjoyMDk2NDE1OTQzfQ.9vNN2agRUqoQMgRlJ-eBq2Z6weyJSBSEPrRbpR3cpgU
